header {
  background-color: #C8AF80;
  color:#9E292E;
  margin:-8px;
  text-align:center;
  height:75px;
  font-family: 'Marvel', sans-serif;
  font-size: 36px;
}

fieldset {
  width:200px;
}

div{
  width:200px;
  height:100px;
  color:white;
}
#six {
  font-family: 'Marvel', sans-serif;
}
#one {
  background-color:#9E292E;
}

#two{
  background-color:#C8AF80;
}

#three{
  background-color: #FFF0CE;
}

#four{
  background-color:#3A4B6F;
}

#five{
  background-color: #303030;
}
h2 {
  color:#3A4B6F;
}

nav{
  background-color:#C8AF80;
  color:#303030;
}

img {
  border-color: #3A4B6F;
  border-radius: 5px;
  border-style:solid;
}

p {
  color: #303030;
}
